<div class="container home-section">
  <section class="sidebar-section">
    <aside class="sidebar-container">
      <div class="sidebar-box-categories">
        <ul class="sidebar-list-categories js-list">
          <li class="sidebar-favorite js-all">All categories</li>
          <li class="sidebar-favorite js-category">
            Advice How-To and Miscellaneous
          </li>
          <li class="sidebar-favorite js-category">Audio Fiction</li>
          <li class="sidebar-favorite js-category">Audio Nonfiction</li>
          <li class="sidebar-favorite js-category">Business Books</li>
          <li class="sidebar-favorite js-category">
            Childrens Middle Grade Hardcover
          </li>
          <li class="sidebar-favorite js-category">
            Combined Print and E-Book Fiction
          </li>
          <li class="sidebar-favorite js-category">
            Combined Print and E-Book Nonfiction
          </li>
          <li class="sidebar-favorite js-category">Graphic Books and Manga</li>
          <li class="sidebar-favorite js-category">Hardcover Fiction</li>
          <li class="sidebar-favorite js-category">Hardcover Nonfiction</li>
          <li class="sidebar-favorite js-category">Mass Market Monthly</li>
          <li class="sidebar-favorite js-category">
            Middle Grade Paperback Monthly
          </li>
          <li class="sidebar-favorite js-category">Paperback Nonfiction</li>
          <li class="sidebar-favorite js-category">Picture Books</li>
          <li class="sidebar-favorite js-category">Series Books</li>
          <li class="sidebar-favorite js-category">Trade Fiction Paperback</li>
          <li class="sidebar-favorite js-category">Young Adult Hardcover</li>
          <li class="sidebar-favorite js-category">
            Young Adult Paperback Monthly
          </li>
        </ul>
      </div>

      <div class="sidebar-box-support">
        <div class="sidebar-list-support">
          <div class="sidebar-support">
            <h2 class="sidebar-title">Support Ukraine</h2>
            <svg class="sidebar-trizub">
              <use href="./img/sprite.svg#icon-gerb"></use>
            </svg>
          </div>

          <ul class="sidebar-swiper-list">
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
              >
                <span class="sidebar-company-number">01</span>
                <img
                  class="sidebar-img"
                  src="./img/save_the_children@1x.png"
                  srcset="
                    ./img/save_the_children@1x.png 1x,
                    ./img/save_the_children@2x.png 2x
                  "
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://www.projecthope.org/country/ukraine/"
              >
                <span class="sidebar-company-number">02</span>
                <img
                  class="sidebar-img"
                  src="./img/project_hope@1x.png"
                  srcset="
                    ./img/project_hope@1x.png 1x,
                    ./img/project_hope@2x.png 2x
                  "
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://internationalmedicalcorps.org/country/ukraine/"
              >
                <span class="sidebar-company-number">03</span>
                <img
                  class="sidebar-img"
                  src="./img/international@1x.png"
                  srcset="
                    ./img/international@1x.png 1x,
                    ./img/international@2x.png 2x
                  "
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://www.razomforukraine.org/"
              >
                <span class="sidebar-company-number">04</span>
                <img
                  class="sidebar-img"
                  src="./img/razom@1x.png"
                  srcset="./img/razom@1x.png 1x, ./img/razom@2x.png 2x"
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://www.actionagainsthunger.org/location/europe/ukraine/"
              >
                <span class="sidebar-company-number">05</span>
                <img
                  class="sidebar-img"
                  src="./img/against_hunger@1x.png"
                  srcset="
                    ./img/against_hunger@1x.png 1x,
                    ./img/against_hunger@2x.png 2x
                  "
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://prytulafoundation.org/en"
              >
                <span class="sidebar-company-number">06</span>
                <img
                  class="sidebar-img"
                  src="./img/sergiy_prytula@1x.png"
                  srcset="
                    ./img/sergiy_prytula@1x.png 1x,
                    ./img/sergiy_prytula@2x.png 2x
                  "
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://www.msf.org/ukraine"
              >
                <span class="sidebar-company-number">07</span>
                <img
                  class="sidebar-img"
                  src="./img/medecins1x.png"
                  srcset="./img/medecins1x.png 1x, ./img/medecins2x.png 2x"
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://www.wvi.org/emergencies/ukraine"
              >
                <span class="sidebar-company-number">08</span>
                <img
                  class="sidebar-img"
                  src="./img/world_vision@1x.png"
                  srcset="
                    ./img/world_vision@1x.png 1x,
                    ./img/world_vision@2x.png 2x
                  "
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://u24.gov.ua/uk"
              >
                <span class="sidebar-company-number">09</span>
                <img
                  class="sidebar-img"
                  src="./img/united24@1x.png"
                  srcset="./img/united24@1x.png 1x, ./img/united24@2x.png 2x"
                  alt="support"
                />
              </a>
            </li>
          </ul>
          <button class="support-arrow">
            <svg class="support-button support-arrow-up" width="20" height="32">
              <use href="./img/sprite.svg#icon-vector-down"></use>
            </svg>
            <svg
              class="support-button support-arrow-down visually-hidden"
              width="12"
              height="20"
            >
              <use href="./img/sprite.svg#icon-vector-up"></use>
            </svg>
          </button>
        </div>
      </div>
    </aside>
  </section>
  <div class="home books-list js-bookslist"></div>
</div>
<svg class="icon icon-power"><use xlink:href="#icon-power"></use></svg>

<script src="./js/slider.js"></script>
