<div class="home-section">
  <section class="sidebar-section">
    <aside class="sidebar-container">
      <div class="sidebar-box-categories">
        <ul class="sidebar-list-categories js-list">
          <li class="sidebar-favorite js-all">All categories</li>
          <li class="sidebar-favorite js-category">
            Advice How-To and Miscellaneous
          </li>
          <li class="sidebar-favorite js-category">Audio Fiction</li>
          <li class="sidebar-favorite js-category">Audio Nonfiction</li>
          <li class="sidebar-favorite js-category">Business Books</li>
          <li class="sidebar-favorite js-category">
            Childrens Middle Grade Hardcover
          </li>
          <li class="sidebar-favorite js-category">
            Combined Print and E-Book Fiction
          </li>
          <li class="sidebar-favorite js-category">
            Combined Print and E-Book Nonfiction
          </li>
          <li class="sidebar-favorite js-category">Graphic Books and Manga</li>
          <li class="sidebar-favorite js-category">Hardcover Fiction</li>
          <li class="sidebar-favorite js-category">Hardcover Nonfiction</li>
          <li class="sidebar-favorite js-category">Mass Market Monthly</li>
          <li class="sidebar-favorite js-category">
            Middle Grade Paperback Monthly
          </li>
          <li class="sidebar-favorite js-category">Paperback Nonfiction</li>
          <li class="sidebar-favorite js-category">Picture Books</li>
          <li class="sidebar-favorite js-category">Series Books</li>
          <li class="sidebar-favorite js-category">Trade Fiction Paperback</li>
          <li class="sidebar-favorite js-category">Young Adult Hardcover</li>
          <li class="sidebar-favorite js-category">
            Young Adult Paperback Monthly
          </li>
        </ul>
      </div>

      <div class="sidebar-box-support">
        <div class="sidebar-support">
          <h2 class="sidebar-title">Support Ukraine</h2>
          <svg class="sidebar-trizub">
            <use href="#"></use>
          </svg>
        </div>
        <div class="sidebar-list-support">
          <div class="sidebar-company-img-box">
            <p class="sidebar-company-number">01</p>
            <div class="sidebar-company-img">
              <a class="sidebar-company-link" target="_blank">
                <img class="sidebar-img" src="#" alt="support" />
              </a>
            </div>
          </div>
          <div class="sidebar-company-img-box">
            <p class="sidebar-company-number">02</p>
            <div class="sidebar-company-img">
              <a class="sidebar-company-link" target="_blank">
                <img class="sidebar-img" src="#" alt="support" />
              </a>
            </div>
          </div>
          <div class="sidebar-company-img-box">
            <p class="sidebar-company-number">03</p>
            <div class="sidebar-company-img">
              <a class="sidebar-company-link" target="_blank">
                <img class="sidebar-img" src="#" alt="support" />
              </a>
            </div>
          </div>
          <div class="sidebar-company-img-box">
            <p class="sidebar-company-number">04</p>
            <div class="sidebar-company-img">
              <a class="sidebar-company-link" target="_blank">
                <img class="sidebar-img" src="#" alt="support" />
              </a>
            </div>
          </div>
          <div class="sidebar-company-img-box">
            <p class="sidebar-company-number">05</p>
            <div class="sidebar-company-img">
              <a class="sidebar-company-link" target="_blank">
                <img class="sidebar-img" src="#" alt="support" />
              </a>
            </div>
          </div>
          <div class="sidebar-company-img-box">
            <p class="sidebar-company-number">06</p>
            <div class="sidebar-company-img">
              <a class="sidebar-company-link" target="_blank">
                <img class="sidebar-img" src="#" alt="support" />
              </a>
            </div>
          </div>
          <div class="sidebar-company-img-box">
            <p class="sidebar-company-number">07</p>
            <div class="sidebar-company-img">
              <a class="sidebar-company-link" target="_blank">
                <img class="sidebar-img" src="#" alt="support" />
              </a>
            </div>
          </div>
          <div class="sidebar-company-img-box">
            <p class="sidebar-company-number">08</p>
            <div class="sidebar-company-img">
              <a class="sidebar-company-link" target="_blank">
                <img class="sidebar-img" src="#" alt="support" />
              </a>
            </div>
          </div>
          <div class="sidebar-company-img-box">
            <p class="sidebar-company-number">09</p>
            <div class="sidebar-company-img">
              <a class="sidebar-company-link" target="_blank">
                <img class="sidebar-img" src="#" alt="support" />
              </a>
            </div>
          </div>
        </div>
        <div class="sidebar-swiper">
          <div class="swiper-button-prev"></div>
          <svg class="sidebar-swiper-arrowe">
            <use></use>
          </svg>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </aside>
  </section>
  <div class="home books-list"></div>
</div>
