<div class="container home-section">
  <section class="sidebar-section">
    <aside class="sidebar-container">
      <div class="sidebar-box-categories">
        <div class="sidebar-scroll"></div>
        <ul class="sidebar-list-categories js-list">
          <li class="sidebar-favorite js-all">All categories</li>
          <li class="sidebar-favorite js-category">
            Advice How-To and Miscellaneous
          </li>
          <li class="sidebar-favorite js-category">Audio Fiction</li>
          <li class="sidebar-favorite js-category">Audio Nonfiction</li>
          <li class="sidebar-favorite js-category">Business Books</li>
          <li class="sidebar-favorite js-category">
            Childrens Middle Grade Hardcover
          </li>
          <li class="sidebar-favorite js-category">
            Combined Print and E-Book Fiction
          </li>
          <li class="sidebar-favorite js-category">
            Combined Print and E-Book Nonfiction
          </li>
          <li class="sidebar-favorite js-category">Graphic Books and Manga</li>
          <li class="sidebar-favorite js-category">Hardcover Fiction</li>
          <li class="sidebar-favorite js-category">Hardcover Nonfiction</li>
          <li class="sidebar-favorite js-category">Mass Market Monthly</li>
          <li class="sidebar-favorite js-category">
            Middle Grade Paperback Monthly
          </li>
          <li class="sidebar-favorite js-category">Paperback Nonfiction</li>
          <li class="sidebar-favorite js-category">Picture Books</li>
          <li class="sidebar-favorite js-category">Series Books</li>
          <li class="sidebar-favorite js-category">Trade Fiction Paperback</li>
          <li class="sidebar-favorite js-category">Young Adult Hardcover</li>
          <li class="sidebar-favorite js-category">
            Young Adult Paperback Monthly
          </li>
        </ul>
      </div>

      <div class="sidebar-box-support">
        <div class="sidebar-list-support">
          <div class="sidebar-support">
            <h2 class="sidebar-title">Support Ukraine</h2>
            <svg class="sidebar-trizub">
              <use href="../img/sprite.svg#icon-gerb"></use>
            </svg>
          </div>

          <ul class="sidebar-swiper-list">
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                target="_blank"
                href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
              >
                <span class="sidebar-company-number">01</span>
                <img
                  class="sidebar-img"
                  src="../img/save-the-children-x1.png"
                  srcset="
                    ../img/save-the-children-x1.png,
                    ../img/save-the-children-x2.png
                  "
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                target="_blank"
                href="https://www.projecthope.org/country/ukraine/"
              >
                <span class="sidebar-company-number">02</span>
                <img
                  class="sidebar-img"
                  src="../img/project-hope-x1.png"
                  srcset="
                    ../img/project-hope-x1.png,
                    ../img/project-hope-x2.png
                  "
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                target="_blank"
                href="https://internationalmedicalcorps.org/country/ukraine/"
              >
                <span class="sidebar-company-number">03</span>
                <img
                  class="sidebar-img"
                  src="../img/international-medical-corps-x1.png"
                  srcset="
                    ../img/international-medical-corps-x1.png,
                    ../img/international-medical-corps-x2.png
                  "
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                target="_blank"
                href="https://www.razomforukraine.org/"
              >
                <span class="sidebar-company-number">04</span>
                <img
                  class="sidebar-img"
                  src="../img/razom-x1.png"
                  srcset="../img/razom-x1.png, ../img/razom-x2.png"
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                target="_blank"
                href="https://www.actionagainsthunger.org/location/europe/ukraine/"
              >
                <span class="sidebar-company-number">05</span>
                <img
                  class="sidebar-img"
                  src="../img/action-against-hunger-x1.png"
                  srcset="
                    ../img/action-against-hunger-x1.png,
                    ../img/action-against-hunger-x2.png
                  "
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                target="_blank"
                href="https://prytulafoundation.org/en"
              >
                <span class="sidebar-company-number">06</span>
                <img
                  class="sidebar-img"
                  src="../img/image 3 (12).png"
                  srcset="
                      ../img/image 3 (12).png,
                      ../img/image 3 (13).png"
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                target="_blank"
                href="https://www.msf.org/ukraine"
              >
                <span class="sidebar-company-number">07</span>
                <img
                  class="sidebar-img"
                  src="../img/medecins-sans-frontieres-x1.png"
                  srcset="
                      ../img/medecins-sans-frontieres-x1.png
                      ../img/medecins-sans-frontieres-x2.png
                      "
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                target="_blank"
                href="https://www.wvi.org/emergencies/ukraine"
              >
                <span class="sidebar-company-number">08</span>
                <img
                  class="sidebar-img"
                  src="../img/image 3 (10).png"
                  srcset="
                      ../img/image 3 (10).png
                      ../img/image 3 (11).png
                      "
                  alt="support"
                />
              </a>
            </li>
            <li class="sidebar-company-img-box">
              <a
                class="sidebar-company-link"
                target="_blank"
                href="https://u24.gov.ua/uk"
              >
                <span class="sidebar-company-number">09</span>
                <img
                  class="sidebar-img"
                  src="../img/united24-x1.png"
                  srcset="
                      ../img/united24-x1.png
                      ../img/united24-x2.png
                      "
                  alt="support"
                />
              </a>
            </li>
          </ul>
          <button class="support-arrow">
            <svg class="support-button support-arrow-up" width="20" height="32">
              <use href="../img/sprite.svg#icon-vector-up"></use>
            </svg>
            <svg
              class="support-button-down support-arrow-down visually-hidden"
              width="12"
              height="20"
            >
              <use href="../img/sprite.svg#icon-vector-down"></use>
            </svg>
          </button>
        </div>
      </div>
    </aside>
  </section>
  <div class="home books-list"></div>
</div>

<script src="./js/slider.js"></script>
