<div class="backdrop">
  <div class="modal-content">
    <button type="button" class="modal-close-btn" onclick="closeModal()">
      <svg class="modal-close-btn-icon" width="14" height="14">
        <use href="./img/icons.svg#icon-close-black"></use>
      </svg>
    </button>
    <div class="modal-body">
      <div class="image-container">
        <img src="./img/image.jpeg" alt="image" />
      </div>
      <div class="list-container">
        <ul class="list-details">
          <li class="title">Hello beautiful</li>
          <li class="list-name">Ann Napolitano</li>
          <li class="list-descr">
            In a homage to Louisa May Alcott’s “Little Women,” a young man’s
            dark past resurfaces as he gets to the know the family of his
            college sweetheart.
          </li>
          <div class="list-links">
            <li class="list-amazon">
              <a href="./img/icons.svg#icon-amazon" alt="amazon"></a>
            </li>
            <li class="list-google">
              <a href="./img/icons.svg#icon-google" alt="google"></a>
              <svg width="24" height="24">
                <use href="../img/icons.svg#icon-google"></use>
              </svg>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <button type="button" class="shopping-list">Add to shopping list</button>
    <p class="modal-bottom-text">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
<script src="./script.js"></script>
