<div class="backdrop" id="bookModal">
  <div class="modal-window">
    <div class="modal-content">
      <div class="modal-top">
        <h1 class="modal-title" id="bookModalTitle"></h1>
        <button
          type="button"
          class="modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <svg class="book-modal-close" width="24" height="24">
            <use href="./images/icons.svg#x-close"></use>
          </svg>
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>
      <div class="modal-body" id="bookModalBody">
        <!-- Тут буде показано деталі книги -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="addToShoppingList">
          Add to shopping list
        </button>
        <p class="modal-footer-text" id="modalFooterText">
          Congratulations! You have added the book to the shopping list. To
          delete, press the button “Remove from the shopping list”.
        </p>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button> -->
      </div>
    </div>
  </div>
</div>
