<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping-list</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/shopping-list.css" />
  </head>
  <body class="margin-top">
    
    <include src="../partials/header.html"></include>

    <main>
        <div class="container shopping-list-page">
            <h1 class="shopping-main-title">
              Shopping
              <span class="shopping-list-color">List</span>
            </h1>
        
              <p class="empty-list-text">
                This page is empty, add some books and proceed to order.
              </p>
              <picture class="empty-list-img">
                <source
                  srcset="
                   
                  "
                  media="(min-width: )"
                />
                <source
                  srcset="
                   
                  "
                  media="(max-width:)"
                />
                <img
                  src=""
                  alt="Books"
                />
              </picture>
            </div>
            <ul class="shopping-list-js"></ul>
    </main>
