<section class="section">
  <asaid class="container sidebar-container">
    <div class="sidebar-box-categories">
      <ul class="sidebar-list-categories">
        <li class="sidebar-favorite id=all">All categories</li>
        <li class="sidebar-favorite id=1">Combined Print and E-book Fiction</li>
        <li class="sidebar-favorite id=2">
          Combined Print & E-book Nonfiction
        </li>
        <li class="sidebar-favorite id=3">Hardcover fiction</li>
        <li class="sidebar-favorite id=4">Hardcover nonfiction</li>
        <li class="sidebar-favorite id=5">Paperback trade fiction</li>
        <li class="sidebar-favorite id=6">Paperback nonfiction</li>
        <li class="sidebar-favorite id=7">Advice, how-to & Miscellaneous</li>
        <li class="sidebar-favorite id=8">Children’s middle grade hardcover</li>
      </ul>
    </div>
    <div class="sidebar-box-support">
      <div class="sidebar-support">
        <h2 class="sidebar-title">Support Ukraine</h2>
        <svg class="sidebar-trizub">
          <use href="#"></use>
        </svg>
      </div>
      <div class="sidebar-list-support">
        <div class="sidebar-company-img-1">
          <p class="sidebar-company-number">01</p>
        </div>
        <div class="sidebar-company-img-2">
          <p class="sidebar-company-number">02</p>
        </div>
        <div class="sidebar-company-img-3">
          <p class="sidebar-company-number">03</p>
        </div>
        <div class="sidebar-company-img-4">
          <p class="sidebar-company-number">04</p>
        </div>
        <div class="sidebar-company-img-5">
          <p class="sidebar-company-number">05</p>
        </div>
        <div class="sidebar-company-img-6">
          <p class="sidebar-company-number">06</p>
        </div>
        <div class="sidebar-company-img-7">
          <p class="sidebar-company-number">07</p>
        </div>
        <div class="sidebar-company-img-8">
          <p class="sidebar-company-number">08</p>
        </div>
        <div class="sidebar-company-img-9">
          <p class="sidebar-company-number">09</p>
        </div>
      </div>
      <div class="sidebar-scroll"></div>
    </div>
  </asaid>
</section>
