.header {
  padding: 18px 0;
  border: 1.5px solid #111111;
  border-radius: 0 0 8px 8px;
  box-sizing: border-box;
  height: 64px;
  display: flex;
  background-color: #ffffff;
  position: relative;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
}

.navigation {
  position: absolute;
  left: 209px;
  top: 25px;
}

.header-menu a.active {
  border-radius: 36px;
  background-color: rgb(234, 198, 69);
  padding: 8px 16px 8px 16px;
  font-weight: 700;
  color: #111111;
  cursor: pointer;
  }

.header-menu svg.active {
  fill: #111111;
  stroke:#111111
}

.nav-logo {
  position: absolute;
  left: 20px;
}

.nav-list {
  display: none;
}

.nav-switch {
  margin-left: 10px;
  display: flex;
  justify-content: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  top: 4px;
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    180deg,
    rgb(79, 46, 232),
    rgb(220, 220, 220) 100%
  );
  border-radius: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

body.dark-mode .switch {
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    180deg,
    rgb(79, 46, 232),
    rgb(104, 104, 104) 100%
  );
}

.slider {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1),
    0px 2px 2px 0px rgba(0, 0, 0, 0.1), 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    rgb(247, 247, 247) 100%
  );
  transition: 0.4s;
  border-radius: 34px;
  transform: translateX(0);
}

.switch input:checked + .slider {
  transform: translateX(20px);
}

body.dark-mode {
  background-color: #202024;
  color: #ffffff;
}

body.dark-mode .header {
  background-color: #111111;
  border: 1.5px solid #ffffff;
}

.mobile-content {
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    180deg,
    rgb(79, 46, 232),
    rgb(220, 220, 220) 100%
  );
  width: 375px;
  height: 748px;
  display: none;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.mobile-nav-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 129px;
  top: 245px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 18px;
  font-weight: 500;
}

.burger-btn {
  border: none;
  background: none;
  position: relative;
  right: 20px;
  width: 28px;
  height: 28px;
  display: block;
}

.icon-burger,
.icon-close {
  stroke: #111111;
  top: 2px;
}

body.dark-mode .icon-burger,
body.dark-mode .icon-close {
  stroke: #ffffff;
}

body.dark-mode .icon-logo-book {
  fill: #ffffff;
}

.close-btn {
  border: none;
  background: none;
  position: relative;
  right: 20px;
  width: 28px;
  height: 28px;
  display: none;
}

.mobile-image {
  background-image: url(../img/books_mob@1x.png);
  position: absolute;
  width: 480px;
  height: 493px;
  left: -35px;
  top: 404px;
  /* transform: rotate(-15.00deg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-shopping-mob {
  top: 3px;
  fill: #ffffff;
  position: relative;
}

.icon-logo {
  top: 7px;
  position: relative;
}

@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .header {
    padding: 18px 0;
    border: 1.5px solid #111111;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    height: 64px;
    display: flex;
    background-color: #ffffff;
    position: relative;
    width: 378px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768.95px) and (max-width: 1438.98px) {
  .header {
    padding: 19px 0;
    height: 72px;
    display: flex;
    align-items: center;
    width: 768px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-content {
    display: none;
  }

  .mobile-window {
    display: none;
  }

  .mobile-nav-list {
    display: none;
  }

  .nav-switch {
    margin-right: -20px;
  }
  .navigation {
    top: 27px;
  }
  .nav-link {
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 18px;
    font-weight: 500;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 24px;
    margin-top: -4px;
  }

  body.dark-mode .icon-shopping {
    fill: #ffffff;
    position: relative;
    top: 3px;
  }

  .nav-logo {
    bottom: 21px;
  }

  .switch {
    margin-bottom: 8px;
  }

  .icon-shopping {
    fill: #111111;
    top: 3px;
    position: relative;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 18px 0;
    border: 1.5px solid #111111;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    height: 64px;
    display: flex;
    background-color: #ffffff;
    position: relative;
    width: 1440px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 24px;
    margin-top: -4px;
    
  }

  .js-shopping-list {
    position: relative;
    bottom: 6px;
  }

  .nav-link {
    bottom: 3px;
    font-size: 14px;
    font-weight: 500;
    
  }

  .nav-link:hover,
  .nav-link:focus {
    font-size: 14px;
    font-weight: 700;
  }

  .icon-shopping {
    bottom: 6px;
  }

  .mobile-content {
    display: none;
  }

  .mobile-window {
    display: none;
  }

  .mobile-nav-list {
    display: none;
  }

  .icon-shopping {
    fill: #111111;
    top: 3px;
    position: relative;
  }
  body.dark-mode .icon-shopping {
   fill: #ffffff;
   position: relative;
   top: 3px;
 }

}
