/* Mobile */

@media (max-width: 375px) {

  .sidebar-section {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .home-section .sidebar-container {
    width: 100%;
    max-width: calc(335px - 40px);
    
  }
  .sidebar-box-categories {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
  }
  .sidebar-list-categories {
    max-height: 228px;
    overflow-y: scroll;
  }

  .sidebar-favorite {
    width: 100%;
    letter-spacing: -.02em;
    color: rgba(17,17,17,.6);
    font-size: 14px;
    line-height: 1.12px;
    margin-bottom: 24px;
  }

  .sidebar-favorite:hover {
    font-size: 14px;

  }

  .sidebar-box-support {
    width: 356px;
    height: 352px;
    display: block;
    position: relative; /* ставлю изначально относительную позицию relative, так как в будущем будет кнопка в этом контейнере, та которая со стрелочкой вниз, которой зададим позицию absolute*/
    margin-top: 40px;
  }

  .sidebar-title {
    color: #fff;
    align-items: center;
    /* margin-bottom: 40px; */
    display: flex;
  }

}

@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .sidebar-container {
    width: 100%;
    padding-top: 40px;
  }
  .sidebar-box-categories {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sidebar-list-categories {
    max-height: 228px;
    overflow-y: scroll;
  }

  .sidebar-favorite {
    font-size: 14px;
    line-height: 1.12px;
    letter-spacing: -.02em;
    margin-bottom: 24px;
  }

  .sidebar-favorite:hover {
    font-size: 14px;

  }

  .sidebar-box-support {
    width: 100%;
    height: 352px;
    display: block;
    position: relative; /* ставлю изначально относительную позицию relative, так как в будущем будет кнопка в этом контейнере, та которая со стрелочкой вниз, которой зададим позицию absolute*/
  }
}

/* Tablet */

@media screen and (min-width: 768.95px) and (max-width: 1438.98px) {
  .sidebar-container {
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;
    gap: 32px;
  }

  .sidebar-box-categories {
    padding-bottom: 100px;
    display: flex;
  }

  .sidebar-list-categories {
    max-height: 472px;
  }

  .sidebar-favorite {
    font-size: 16px;
    line-height: 1.33px;
    margin-bottom: 32px;
  }

  .sidebar-favorite:hover {
    font-size: 16px;

  }

  .sidebar-box-support {
    height: 472px;
    width: 335px;
  }
}

/* Desctop */

@media screen and (min-width: 1440px) {
  .sidebar-container {
    flex-direction: column;
    flex-basis: 380px;
    gap: 0;
    row-gap: 0px;
    column-gap: 0px;
      width: 100%;
      padding-top: 40px;
  
  }

  .home-section {
    display: flex;
    flex-wrap: nowrap;
  }

  .sidebar-section {
    max-width: 356px;
  }

  .sidebar-list-categories {
    max-height: 472px;

  }

  .sidebar-favorite {
    margin-bottom: 32px;
    font-weight: 18px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(17,17,17,.6);
  }
  .sidebar-favorite:hover {
    font-size: 18px;

  }

  .sidebar-box-support {
        margin-top: 86px;
  }
}
/* .home-section {
  display: flex;
  flex-direction: column;
} */


.sidebar-section {
  width: 100%;
}

/* .sidebar-container {
  width: ;
} */

/* .home-section {
  display: flex;
  flex-direction: column;
} */

.sidebar-section {
  width: 100%;
}

.sidebar-box-categories {
  width: 356px;
  display: flex;
  overflow-y: scroll;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin-bottom: 68px;
}

.sidebar-list-categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  /* margin: 32px 0px; */
  width: 356px;
}

.sidebar-favorite {
  color: rgba(17, 17, 17, 0.6);
  font-family: sans-serif, 'DM Sans';
  /* font-size: 18px; */
  font-weight: 400;
  line-height: 24px;
  /* letter-spacing: 0.02em; */
  text-align: left;
  /* margin-bottom: 32px; */
}

.sidebar-favorite:hover,
.sidebar-favorite:focus {
  color: rgb(79, 46, 232);
  font-family: sans-serif, 'DM Sans';
  /* font-size: 18px; */
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}

body.dark-mode .sidebar-favorite {
  color: rgba(255, 255, 255, 0.6);
  font-family: sans-serif, 'DM Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 32px;
}

body.dark-mode .sidebar-favorite:hover,
body.dark-mode .sidebar-favorite:focus {
  color: rgb(234, 198, 69);
  font-family: sans-serif, 'DM Sans';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}

.sidebar-box-support {
  position: relative;
  width: 356px;
  /* height: 474px; */
  border-radius: 16px;
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    190.7% 191.09% at 60% -23%,
    rgb(79, 46, 232) 18.027%,
    rgb(255, 255, 255) 100%
  );
  /* overflow: scroll; */
  /* margin-top: 86px; */
}

.sidebar-list-support {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sidebar-support {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.sidebar-title {
  color: rgb(255, 255, 255);
  font-family: sans-serif, 'DM Sans';
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  padding-left: 28px;
  padding-top: 26px;
}

.sidebar-trizub {
  position: absolute;
  width: 20px;
  height: 32px;
  /* background-color: rgb(255, 255, 255); */
  left: 250px;
  top: 24px;
}

.sidebar-swiper-list {
  /* width: 159px; */
  height: 292px;
  overflow: hidden;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  margin-top: 42px;
}

.sidebar-company-img-box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-company-link {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 38px;
}

/* .sidebar-company-number {
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  width: 14px;
  height: 18px;
  color: rgb(255, 255, 255);
  font-family: sans-serif, 'DM Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-align: left;
} */

/* .sidebar-img {
  height: 32px;
  fill: #fff;
  color: #ffffff;
} */

.support-arrow {
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  width: 38px;
  height: 38px;
  margin-top: 24px;
  margin-left: 159px;
}

/* .sidebar-img {
  background-color: black;
  color: #000;
  fill: #000;
}  */

/* .sidebar-swiper-arrowe {
  margin-top: 12px;
  margin-left: 15px;
  width: 6.58px;
  height: 12.83px;
  left: 17.42px;
  top: 14.38px;
  transform: rotate(-90deg);
  background-color: rgb(79, 46, 232);
} */

/* .swiper-wrapper {
  width: 159px;
  height: 292px;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
  min-width: 0;
} */

/* .slider-container {
  width: 159px;
  height: 292px;
  overflow: hidden;
}
.swiper-container {
  width: 159px;
  height: 292px;
} */
