/* Mobile */

@media (max-width: 375px) {
  .shop-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-section {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .home-section .sidebar-container {
    width: 100%;
    max-width: calc(335px - 40px);
  }
  .sidebar-box-categories {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
    margin-bottom: 40px;
  }
  .sidebar-list-categories {
    max-height: 228px;
    overflow-y: scroll;
  }

  .sidebar-favorite {
    width: 100%;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);
    font-size: 14px;
    line-height: 1.12px;
    margin-bottom: 24px;
  }

  .sidebar-favorite:hover {
    font-size: 14px;
  }

  .sidebar-list-support {
    height: 352px;
    overflow: hidden;
  }

  .sidebar-box-support {
    width: 100%;
    height: 352px;
    display: block;
    position: relative; /* ставлю изначально относительную позицию relative, так как в будущем будет кнопка в этом контейнере, та которая со стрелочкой вниз, которой зададим позицию absolute*/
    margin-top: 40px;
  }

  .sidebar-title {
    color: #fff;
    align-items: center;
    /* margin-bottom: 40px; */
    display: flex;
  }

  .support-arrow {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .shop-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    max-width: 349px;
    text-align: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .sidebar-container {
    width: 335px;
    /* width: 100%; */
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
  }

  .sidebar-box-categories {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .sidebar-list-categories {
    max-height: 228px;
    overflow-y: scroll;
  }

  .sidebar-favorite {
    font-size: 14px;
    line-height: 1.12px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
  }

  .sidebar-favorite:hover {
    font-size: 14px;
  }

  .sidebar-list-support {
    /* width: 335px;
    height: 460px; */
    overflow: hidden;
    margin-bottom: 40px;
  }

  .sidebar-company-link {
    display: flex;
    align-items: center;
    /* gap: 16px;
    margin-left: 40px; */
    color: inherit;
    background-color: transparent;
  }

  .sidebar-swiper-list {
    /* width: 159px; */
    height: 292px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 40px;
  }

  .sidebar-company-number {
    margin-right: 16px;
    margin-left: 40px;
  }

  .sidebar-box-support {
    width: 335px;
    height: 460px;
    display: block;
    position: relative; /* ставлю изначально относительную позицию relative, так как в будущем будет кнопка в этом контейнере, та которая со стрелочкой вниз, которой зададим позицию absolute*/
  }

  .sidebar-title {
    color: rgb(255, 255, 255);
    font-family: sans-serif, 'DM Sans';
    /* width: 161px; */
    height: 24px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
  }

  .support-arrow {
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 32px;
    height: 32px;
    margin-top: 20px;
    margin-left: 152px;
    margin-bottom: 20px;
  }

  .sidebar-img {
    filter: brightness(0) invert(1);
  }
}

/* Tablet */

@media screen and (min-width: 768.95px) and (max-width: 1438.98px) {
  .shop-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    max-width: 349px;
    text-align: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .sidebar-container {
    padding-top: 40px;
    display: flex;
    gap: 32px;
  }

  .sidebar-box-categories {
    display: flex;
  }

  .sidebar-list-categories {
    max-height: 472px;
  }

  .sidebar-favorite {
    font-size: 16px;
    line-height: 1.33px;
    margin-bottom: 32px;
  }

  .sidebar-favorite:hover {
    font-size: 16px;
  }

  .sidebar-box-support {
    height: 472px;
    width: 335px;
  }
  .support-arrow {
    margin-left: 149px;
  }
}

/* Desctop */

@media screen and (min-width: 1440px) {
  .shop-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    max-width: 349px;
    text-align: center;
    height: 100%;
    margin-left: 0;
    margin-right: auto;
    margin-top: 232px;
  }

  .sidebar-container {
    flex-direction: column;
    flex-basis: 380px;
    gap: 0;
    row-gap: 0px;
    column-gap: 0px;
    width: 100%;
    padding-top: 40px;
    padding-left: 24px;
  }

  .home-section {
    display: flex;
    flex-wrap: nowrap;
  }

  .sidebar-section {
    max-width: 356px;
  }

  .sidebar-list-categories {
    max-height: 472px;
  }

  .sidebar-favorite {
    margin-bottom: 32px;
    font-weight: 18px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(17, 17, 17, 0.6);
  }

  .sidebar-favorite:hover {
    font-size: 18px;
  }

  .sidebar-list-support {
    height: 490px;
  }

  .sidebar-box-support {
    margin-top: 86px;
  }
  .support-arrow {
    margin-left: 159px;
  }
}

.sidebar-section {
  width: 100%;
  margin-right: 40px;
}

.sidebar-section {
  width: 100%;
}

.sidebar-box-categories {
  width: 356px;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  scrollbar-color: rgb(224, 224, 224) transparent;
  scrollbar-width: thin;
}

body.dark-mode .sidebar-box-categories {
  scrollbar-color: rgba(17, 17, 17, 0.6) transparent;
  scrollbar-width: thin;
}

.sidebar-list-categories ul::-webkit-scrollbar {
  width: 8px; /* Ширина ползунка скроллбара */
}

.sidebar-list-categories ul::-webkit-scrollbar-thumb {
  border-radius: 12px; /* Скругление углов ползунка */
  background: #e0e0e0; /* Цвет ползунка */
}

.sidebar-list-categories ul::-webkit-scrollbar-track-piece {
  background: transparent; /* Прозрачный фон трека скроллбара */
  margin-bottom: 100px; /* Дополнительное расстояние снизу */
}

.sidebar-list-categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  /* margin: 32px 0px; */
  width: 356px;
}

.sidebar-favorite {
  color: rgba(17, 17, 17, 0.6);
  font-family: sans-serif, 'DM Sans';
  /* font-size: 18px; */
  font-weight: 400;
  line-height: 24px;
  /* letter-spacing: 0.02em; */
  text-align: left;
  /* margin-bottom: 32px; */
}

.sidebar-favorite:hover,
.sidebar-favorite:focus,
.sidebar-favorite:active {
  color: rgb(79, 46, 232);
  font-family: sans-serif, 'DM Sans';
  /* font-size: 18px; */
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}

body.dark-mode .sidebar-favorite {
  color: rgba(255, 255, 255, 0.6);
  font-family: sans-serif, 'DM Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 32px;
}

body.dark-mode .sidebar-favorite:hover,
body.dark-mode .sidebar-favorite:focus,
body.dark-mode .sidebar-favorite:active {
  color: rgb(234, 198, 69);
  font-family: sans-serif, 'DM Sans';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (min-width: 768.95px) and (max-width: 1438.98px) {
  body.dark-mode .sidebar-favorite {
    font-size: 16px;
    margin-bottom: 32px;
  }

  body.dark-mode .sidebar-favorite:hover,
  body.dark-mode .sidebar-favorite:focus {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767.98px) {
  body.dark-mode .sidebar-favorite {
    font-size: 14px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
  }
  body.dark-mode .sidebar-favorite:hover,
  body.dark-mode .sidebar-favorite:focus {
    font-size: 14px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 375px) {
  body.dark-mode .sidebar-favorite {
    font-size: 14px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
  }
  body.dark-mode .sidebar-favorite:hover,
  body.dark-mode .sidebar-favorite:focus {
    font-size: 14px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
  }
}

.sidebar-box-support {
  position: relative;
  width: 356px;
  height: 474px;
  border-radius: 16px;
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    190.7% 191.09% at 60% -23%,
    rgb(79, 46, 232) 18.027%,
    rgb(255, 255, 255) 100%
  );
  /* overflow: scroll; */
  /* margin-top: 86px; */
}

.sidebar-list-support {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sidebar-support {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.sidebar-title {
  color: rgb(255, 255, 255);
  font-family: sans-serif, 'DM Sans';
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  padding-left: 20px;
  padding-top: 26px;
}

.sidebar-trizub {
  position: absolute;
  width: 20px;
  height: 32px;
  fill: rgb(255, 255, 255);
  left: 250px;
  top: 24px;
}

/* .sidebar-swiper-list {
  width: 159px;
  height: 292px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 42px;
} */

.sidebar-company-img-box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .sidebar-company-link {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 40px;
  color: inherit;
  background-color: transparent;
} */

.sidebar-company-number {
  color: rgb(255, 255, 255);
}

.sidebar-img {
  filter: brightness(0) invert(1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.support-arrow {
  border: none;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  width: 38px;
  height: 38px;
  margin-top: 24px;
}

.support-arrow:hover,
.support-arrow:focus {
  transform: scale(1.05);
}

.support-arrow:active,
.support-arrow:focus,
.support-arrow:hover {
  background-color: #fff;
}

.support-button {
  margin-top: 5px;
  width: 15px;
  height: 10px;
  fill: rgb(79, 46, 232);
}
